@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    margin: 0;
    font-family: 'Arvo', serif;
}
#flex-container{
    display: flex;
    height: 780px;
}

#background-image{
    background: url("agnieszka-kowalczyk-obMdrL5pFWI-unsplash.jpg");
    max-width: 500px;
    background-size: cover;
    flex:1;

}

#background-title{
    color:white;
    font-size: 40px;
    text-align: center;
    transform: translateY(100px);
    background-color: rgb(100, 99, 99);
    padding: 30px;
    opacity: .8;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin:0;
    flex: 2;
    
}

#form-description{
    padding-left: 5%;
    padding-top:6%;
    font-size: 20px;
    line-height: 30px;
}

#flex-container-form{
    display: flex;
    padding:6% 5%;
    background-color: rgb(233, 232, 232);
    gap: 300px;
}

#form-left{
    display: flex;
    flex-direction: column;
    gap:10px;
}


#form-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20%;
}

input{
    width: 300px;
}
span {
    width: 300px;
    font-size:12px;
}

#submit{
    padding-left: 5%;
    margin-top: -5%;
}

#submit button{
    font-size: 18px;
    padding: 1% 1.5%;
}

input:valid {
    border: 2px solid green;
    padding: 5px;
}

input:invalid {
    border-color:red
}

span {
    color: red;
}